/*********************** 
    Google Fonts 
*************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*****************************
        Common Styles
*****************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/***************************
    Style on Banner section
***************************/
.first-banner {
    background: #2c09c9;
}

.banner-container {
    display: flex;
    justify-content: space-around;
}

.banner-text h1 {
    font-size: 64px;
    font-weight: bold;
}

.banner-text {
    margin: 207px 102px 240px 156px;
    width: 485px;
    height: 230px;
    color: #FFFFFF;
}

.banner-img {
    margin: 153px 141px 102px 86px;
    width: 557px;
    height: 438px;
}

.banner-img img {
    width: 100%;
}

.link-btn {
    display: inline-block;
    background-color: #E02C6D;
    color: #FFFFFF;
    margin: 20px 0;
    padding: 10px 24px;
    font-size: 16px;
    transition: all 2s;
}

.link-btn:hover {
    background: #FFFFFF;
    color: #E02C6D;
    font-weight: 700;
}

/***************************
    End of style on banner
************************** */
/***************************
    Styles on players section
*******************************/
.players {
    margin: 70px 180px 0 210px;
}

.players-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}

.player {
    width: 300px;
    height: 426px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px #a5a4a4;
}

.player-img img {
    width: 300px;
    height: 256px;
    padding: 15px 15px 16px 15px;
}

.player-text {
    padding: 0 15px 33px 15px;

}

.player-text h2 {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    color: #18191F;
}

.player-text p {
    color: grey;
    font-size: 16px;
}


/****************************
End of style on players
*************************** */

/******************************
     Footer Section
******************************/
.footer-container {
    margin: 158px 482px 63px 475px;
    width: 484px;
    height: 213px;
    display: grid;
    flex-direction: column;
    text-align: center;
}

.fab {
    font-size: 18px;
    padding: 7px;
    color: #969BAB;
    background: #c5c7cc;
    border-radius: 14px;

}

.footer-logo img {
    width: 484px;
    height: 110px;
}

/****************************
    End of footer section
 ***************************/
/*****************************
 Responsive for Mobile Devices
*****************************/

@media only screen and (max-width:688px) {
    /* banner section */
    .banner-container {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 0;
        justify-content: center;
    }

    .banner-text h1 {
        font-size: 36px;
    }

    .banner-text {
        margin: 100px 66px 124px 16px;
        padding: 20px;
        width: 278px;
        height: 138px;
    }


    .banner-img {
        margin: 51px 16px 61px 15px;
        padding: 120px 100px 0 100px;
        flex-direction: column;
    }

    /* players section */
    .players-container {
        width: 100%;
    }

    .players-container {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 16px;
    }

    .player {
        flex-direction: column;
    }
    
        /* footer section */
    .footer-container {
        margin: 43px 71px 29px 18px;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .fab {
        font-size: 15px;
        padding: 7px;
        color: #969BAB;
        background: #c5c7cc;
        border-radius: 14px;

    }

    .footer-logo {
        padding: 43px 71px 29px 18px;
        /* padding-right: 71px; */
    }

    .footer-logo img {
        width: 80%;
    }
}